body {
    padding-top: 6%;
}

.jumbotron {
    /* 这里的改动就是视频上说的 */
    /* margin-left: 12%; */
    width: 100%;
    /* height: 530px; */
    text-align: center;
    background-image: url(images/club-introduce-head3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* 下面这句代码解决巨幕图片显示问题 */
    background-size: cover;
}
.container-fluid {
    max-width: 1200px;
    background-color: gainsboro;
  }
#services{
    margin-top: 2%;
    color: green;
}

.media {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.5rem;
}

#presidents {
    margin-top: 10%;
}

#special {
    padding-top: 10%;
    padding-left: 6%;
    color: purple;
}

#achievements{
    margin-top: 5%;
    color: salmon;
}

.container-icon {
    margin-top: 3%;
}

.btn-group{
    margin-top: 10%;
}